# Class 2 (Day 1)

In [13]:
a=set([1,2,3])
b=set([1,2])

In [17]:
print(a+b) #no + sign for sets

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [22]:
print(a-b)
print(b-a)
print(a.difference(b))

{3}
set()
{3}

In [20]:
print(a.intersection(b))
print(b.intersection(a))

{1, 2}
{1, 2}

## Packages

#### Installing packages

pip install packagename1 packagename2 - without comma

!pip install packagename1 packagename2 - inside the jupyter notebook

In [24]:
import pandas as pd #data manipulation and processing
import numpy as np #all mathematical functions or # math
import matplotlib.pyplot as plt #visualization
import seaborn as sns

### Pandas

In [25]:
data = pd.read_csv("https://raw.githubusercontent.com/HrantDavtyan/DSS/master/car_data.csv")

In [28]:
data.head(n=3)

,make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,alfa-romero,gas,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

In [29]:
data.tail(n=3)

,make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
190,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
191,volvo,diesel,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
192,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [32]:
# it is a tuple
data.shape #attributes - do not have any brackets, methods are still functions, attribute is precalculated

(193, 23)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 23 columns):
make                 193 non-null object
fuel_type            193 non-null object
num_of_doors         193 non-null object
body_style           193 non-null object
drive_wheels         193 non-null object
engine_location      193 non-null object
wheel_base           193 non-null float64
length               193 non-null float64
width                193 non-null float64
height               193 non-null float64
curb_weight          193 non-null int64
engine_type          193 non-null object
num_of_cylinders     193 non-null object
engine_size          193 non-null int64
fuel_system          193 non-null object
bore                 193 non-null float64
stroke               193 non-null float64
compression_ratio    193 non-null float64
horsepower           193 non-null int64
peak_rpm             193 non-null int64
city_mpg             193 non-null int64
highway_mpg          193 non-null int64
price                193 non-null int64
dtypes: float64(7), int64(7), object(9)
memory usage: 34.8+ KB

In [36]:
# # of non-empty columns
data.count()

make                 193
fuel_type            193
num_of_doors         193
body_style           193
drive_wheels         193
engine_location      193
wheel_base           193
length               193
width                193
height               193
curb_weight          193
engine_type          193
num_of_cylinders     193
engine_size          193
fuel_system          193
bore                 193
stroke               193
compression_ratio    193
horsepower           193
peak_rpm             193
city_mpg             193
highway_mpg          193
price                193
dtype: int64

In [37]:
data.max() # volvo - the most popular

make                  volvo
fuel_type               gas
num_of_doors            two
body_style            wagon
drive_wheels            rwd
engine_location        rear
wheel_base            120.9
length                208.1
width                    72
height                 59.8
curb_weight            4066
engine_type            ohcv
num_of_cylinders     twelve
engine_size             326
fuel_system            spfi
bore                   3.94
stroke                 4.17
compression_ratio        23
horsepower              262
peak_rpm               6600
city_mpg                 49
highway_mpg              54
price                 45400
dtype: object

In [40]:
data.corr()

,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
wheel_base,1.000000,0.879307,0.818465,0.591239,0.782173,0.568375,0.495957,0.174225,0.252234,0.377040,-0.350823,-0.504499,-0.571771,0.584951
length,0.879307,1.000000,0.857368,0.491050,0.882694,0.686998,0.606373,0.121888,0.156061,0.589650,-0.276144,-0.702143,-0.731264,0.695928
width,0.818465,0.857368,1.000000,0.310640,0.867640,0.739903,0.541633,0.188733,0.188631,0.621532,-0.247612,-0.657153,-0.702009,0.754649
height,0.591239,0.491050,0.310640,1.000000,0.305837,0.026906,0.182445,-0.054338,0.253934,-0.081730,-0.257334,-0.111166,-0.159850,0.136234
curb_weight,0.782173,0.882694,0.867640,0.305837,1.000000,0.857188,0.645070,0.175349,0.161030,0.762154,-0.278528,-0.777763,-0.818104,0.835368
engine_size,0.568375,0.686998,0.739903,0.026906,0.857188,1.000000,0.581854,0.214518,0.025257,0.845325,-0.217769,-0.716378,-0.737531,0.888778
bore,0.495957,0.606373,0.541633,0.182445,0.645070,0.581854,1.000000,-0.065038,-0.004172,0.572972,-0.273766,-0.601369,-0.608804,0.546295
stroke,0.174225,0.121888,0.188733,-0.054338,0.175349,0.214518,-0.065038,1.000000,0.199600,0.102913,-0.068420,-0.031248,-0.040274,0.096007
compression_ratio,0.252234,0.156061,0.188631,0.253934,0.161030,0.025257,-0.004172,0.199600,1.000000,-0.203818,-0.439741,0.314648,0.249669,0.074483
horsepower,0.377040,0.589650,0.621532,-0.081730,0.762154,0.845325,0.572972,0.102913,-0.203818,1.000000,0.101383,-0.833615,-0.812078,0.812453
peak_rpm,-0.350823,-0.276144,-0.247612,-0.257334,-0.278528,-0.217769,-0.273766,-0.068420,-0.439741,0.101383,1.000000,-0.061032,-0.008412,-0.103835
city_mpg,-0.504499,-0.702143,-0.657153,-0.111166,-0.777763,-0.716378,-0.601369,-0.031248,0.314648,-0.833615,-0.061032,1.000000,0.971975,-0.706618
highway_mpg,-0.571771,-0.731264,-0.702009,-0.159850,-0.818104,-0.737531,-0.608804,-0.040274,0.249669,-0.812078,-0.008412,0.971975,1.000000,-0.719178
price,0.584951,0.695928,0.754649,0.136234,0.835368,0.888778,0.546295,0.096007,0.074483,0.812453,-0.103835,-0.706618,-0.719178,1.000000

In [41]:
data.cov() #variance covariance matrix

,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
wheel_base,37.852137,67.507388,10.764941,8.711085,2.534610e+03,145.436604,0.831136,0.338100,6.172444,88.056164,-1011.634418,-19.827091,-23.980327,2.911144e+04
length,67.507388,155.715288,22.871728,14.674236,5.801485e+03,356.545134,2.061046,0.479754,7.745836,279.310638,-1615.071244,-55.968566,-62.205295,7.024722e+04
width,10.764941,22.871728,4.570169,1.590333,9.769422e+02,65.786194,0.315395,0.127264,1.603945,50.437907,-248.100578,-8.974002,-10.230494,1.305000e+04
height,8.711085,14.674236,1.590333,5.734926,3.857607e+02,2.679798,0.119008,-0.041045,2.418771,-7.429714,-288.835951,-1.700556,-2.609542,2.639053e+03
curb_weight,2534.609710,5801.484950,976.942236,385.760651,2.774129e+05,18777.301112,92.544995,29.131051,337.349711,15238.186340,-68757.680268,-2616.760363,-2937.375945,3.559101e+06
engine_size,145.436604,356.545134,65.786194,2.679798,1.877730e+04,1729.765706,6.591589,2.814153,4.178140,1334.580392,-4245.019700,-190.322053,-209.103654,2.990105e+05
bore,0.831136,2.061046,0.315395,0.119008,9.254500e+01,6.591589,0.074193,-0.005588,-0.004519,5.924386,-34.950359,-1.046350,-1.130440,1.203675e+03
stroke,0.338100,0.479754,0.127264,-0.041045,2.913105e+01,2.814153,-0.005588,0.099490,0.250415,1.232219,-10.114880,-0.062959,-0.086598,2.449578e+02
compression_ratio,6.172444,7.745836,1.603945,2.418771,3.373497e+02,4.178140,-0.004519,0.250415,15.820432,-30.773632,-819.777701,7.994435,6.769577,2.396422e+03
horsepower,88.056164,279.310638,50.437907,-7.429714,1.523819e+04,1334.580392,5.924386,1.232219,-30.773632,1440.969722,1803.771319,-202.137279,-210.141893,2.494739e+05
peak_rpm,-1011.634418,-1615.071244,-248.100578,-288.835951,-6.875768e+04,-4245.019700,-34.950359,-10.114880,-819.777701,1803.771319,219674.411701,-182.727494,-26.878238,-3.936716e+05
city_mpg,-19.827091,-55.968566,-8.974002,-1.700556,-2.616760e+03,-190.322053,-1.046350,-0.062959,7.994435,-202.137279,-182.727494,40.804350,42.324914,-3.651213e+04
highway_mpg,-23.980327,-62.205295,-10.230494,-2.609542,-2.937376e+03,-209.103654,-1.130440,-0.086598,6.769577,-210.141893,-26.878238,42.324914,46.470261,-3.965729e+04
price,29111.440525,70247.224312,13049.995995,2639.052866,3.559101e+06,299010.517595,1203.675036,244.957790,2396.422406,249473.872868,-393671.607837,-36512.133501,-39657.291343,6.543326e+07

In [42]:
data.describe()

,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,98.923834,174.326425,65.893782,53.869948,2561.507772,128.124352,3.330622,3.248860,10.143627,103.481865,5099.740933,25.326425,30.787565,13285.025907
std,6.152409,12.478593,2.137795,2.394770,526.700026,41.590452,0.272385,0.315421,3.977491,37.960107,468.694369,6.387828,6.816910,8089.082886
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,98.000000,3.150000,3.110000,8.500000,70.000000,4800.000000,19.000000,25.000000,7738.000000
50%,97.000000,173.200000,65.400000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5100.000000,25.000000,30.000000,10245.000000
75%,102.400000,184.600000,66.900000,55.700000,2952.000000,146.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16515.000000
max,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

### Data Subsetting

In [44]:
data.price.head() #attribute

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: int64

In [48]:
data["price"].head()
data[["price", "make"]].head() #select list of columns

   price         make
0  13495  alfa-romero
1  16500  alfa-romero
2  16500  alfa-romero
3  13950         audi
4  17450         audi

In [49]:
data.iloc[0,0]

'alfa-romero'

In [52]:
data.iloc[:5,:5]

          make fuel_type num_of_doors   body_style drive_wheels
0  alfa-romero       gas          two  convertible          rwd
1  alfa-romero       gas          two  convertible          rwd
2  alfa-romero       gas          two    hatchback          rwd
3         audi       gas         four        sedan          fwd
4         audi       gas         four        sedan          4wd

In [54]:
data.iloc[-5:,:]

,make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
188,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
189,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.8,55.5,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
190,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
191,volvo,diesel,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
192,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [60]:
data.loc[:5,["num_of_doors", "price"]]

  num_of_doors  price
0          two  13495
1          two  16500
2          two  16500
3         four  13950
4         four  17450
5          two  15250

In [68]:
data.price[data.make=="volvo"]
data.loc[data.make=="bmw","price"]
data.loc[(data.make=="bmw") | (data.make=="audi"), ["price", "make"]]

    price  make
3   13950  audi
4   17450  audi
5   15250  audi
6   17710  audi
7   18920  audi
8   23875  audi
9   16430   bmw
10  16925   bmw
11  20970   bmw
12  21105   bmw
13  24565   bmw
14  30760   bmw
15  41315   bmw
16  36880   bmw